.App {
  display: grid;
  grid-template: 90% 10% / 25% 75%;
  max-width: 60vw;
  min-height: 60vh;
  margin: 10px auto;
  border-radius: 4px;
  border: solid 2px #0e3858;
  box-shadow: 5px 5px 10px #d6d7d7;
}
